{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">Messages</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Text</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message.sender.username }}</td>
                    <td>{{ message.receiver.username }}</td>
                    <td>{{ message.text }}</td>
                    <td>{{ message.timestamp }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No messages available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
